@model Web.ViewModels.Folders.FolderCreatingViewModel
@{
    ViewBag.Title = "Create folder";
}
<h2>Create folder</h2>

<form asp-controller="Folders" asp-action="Create" asp-route-parentFolderId="@Model.ParentFolderId">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    
    <!-- Name -->
    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold"></label>
        <input asp-for="Name" class="form-control" />
        
        <span asp-validation-for="Name"></span>
    </div>
    
    <!-- Submit -->
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-primary btn-sm" />
    </div>
</form>