@model Web.Controllers.ForumCategoriesController.CategoryEditingViewModel
@{
    ViewBag.Title = "Edit forum category";
}
<h2>@ViewBag.Title</h2>

<form asp-controller="ForumCategories" asp-action="Edit" asp-route-id="@Model.Id">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    
    <!-- Name -->
    <div class="form-group">
        <label asp-for="Name" class="font-weight-bold"></label>
        <input asp-for="Name" class="form-control" />
        
        <span asp-validation-for="Name"></span>
    </div>
    
    <!-- Description -->
    <div class="form-group">
        <label asp-for="Description" class="font-weight-bold"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        
        <span asp-validation-for="Description"></span>
    </div>
    
    <!-- Submit -->
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-primary btn-sm" />
    </div>
</form>